
DATABASE_URL=
DIRECT_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
KAKAO_REST_API_KEY=
KAKAO_SECRET_KEY=
KAKAO_REDIRECT_URI=
YOUTUBE_KEY=
OPENAI_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=
YOUTUBE_TRANSCRIPT_SERVER=